.header {
  background-color: var(--bg-col);
  padding: 17px 19px;

  // .header__nav
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .header__logo
  &__logo {
    &:focus-visible {
      outline: 2px solid var(--primary_green);
    }
  }
  // .header__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
    column-gap: 63px;
    @media (max-width:768px) {
      column-gap: 40px;
    }
  }
  // .header__item
  &__item {
    
    
  }
  // .header__link
  &__link {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    &:focus-visible {
      outline: 2px solid var(--primary_green);
    }
    &:hover {
      color: var(--primary_green);
    }
    @media (max-width: 768) {
      font-size: 14px;
    }
  }
}
.right-block {
  gap: 64px;
  display: flex;
  & a {
    &:focus-visible {
      outline: 2px solid var(--primary_green);
    }
    &:hover {
      color: var(--primary_green);
    }
  }
  // .right-block__search
  &__search {
  }
  // .right-block__link
  &__img {
    // display: inline-block;
  }
  // .right-block__log-in
  &__log-in {
  }
}
