.help {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  & img {
    position: absolute;
    max-height: 483px;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    filter: brightness(50%);
  }
  // background-image: url(../img/111.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;

  right: 0;
  // background-position: center;

  // .help__container
  &__container {
  }
  // .help__title
  &__title {
    color: var(--white, #fff);

    /* h2 */
    font-family: Cormorant;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 16px;
  }
  // .help__text
  &__text {
    max-width: 825px;
    color: var(--white, #fff);
    /* p1_regular */
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 150%; /* 24px */
    margin-bottom: 24px;
  }
  // .help__form
  &__form {
  }
}

.form {
  width: 350px;
  & input {
    width: 100%;
    padding: 10px 16px;
    margin-bottom: 24px;
    &:hover{
      background-color: #899D9D;
    }
  }
  // .form__name
  &__name {
  }
  &__email {
  }
  & button {
    padding: 10px 25px;
    background-color: var(--primary_green);
    color: var(--background_shade, #0b1919);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
}
