:root {
  --bg-col: #1d2f30;
  --white: #fff;
  --primary_green: #BAE249;
  --background_shade: #0b1919;
  --transition: 0.8 ease ;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1140px;
  padding: 0 15px 0 15px;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--bg-col);
  padding: 17px 19px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo:focus-visible {
  outline: 2px solid var(--primary_green);
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px;
  -webkit-column-gap: 63px;
     -moz-column-gap: 63px;
          column-gap: 63px;
}
@media (max-width: 768px) {
  .header__list {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
.header__link {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.header__link:focus-visible {
  outline: 2px solid var(--primary_green);
}
.header__link:hover {
  color: var(--primary_green);
}
@media (max-width: 768) {
  .header__link {
    font-size: 14px;
  }
}

.right-block {
  gap: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.right-block a:focus-visible {
  outline: 2px solid var(--primary_green);
}
.right-block a:hover {
  color: var(--primary_green);
}
.hero {
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 47, 48, 0.7)), to(rgba(29, 47, 48, 0.7))), url(../img/1_1.png) center/cover no-repeat;
  background: linear-gradient(to top, rgba(29, 47, 48, 0.7), rgba(29, 47, 48, 0.7)), url(../img/1_1.png) center/cover no-repeat;
}
.hero__title {
  margin-top: 115px;
  max-width: 688px;
  color: var(--white, #fff);
  /* h1 */
  font-family: Cormorant;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 16px;
}
.hero__desc {
  max-width: 635px;
  margin-bottom: 24px;
  color: var(--white, #fff);
  /* p1_regular */
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 150%;
}
.hero__link {
  color: var(--primary_green, #bae249);
  /* p1_bold */
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding-bottom: 115px;
}
.hero__link::after {
  content: "";
  -ms-flex-item-align: center;
      align-self: center;
  width: 43px;
  height: 23px;
  -webkit-transform: translateY(15%);
      -ms-transform: translateY(15%);
          transform: translateY(15%);
  background-image: url(../img/svg/Arrow.svg);
  background-repeat: no-repeat;
}

.cards {
  background-color: var(--bg-col);
  padding-top: 60px;
  padding-bottom: 60px;
}
.cards__pagination {
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cards__pagination span {
  padding: 18px;
  color: var(--white, #fff);
  /* h3 */
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%; /* 36px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 56px;
}
.cards__pagination span::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 15px;
  display: inline-block;
  background-image: url(/img/svg/Arrow-1.svg);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.cards__pagination span::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 15px;
  display: inline-block;
  background-image: url(../img/svg/Arrow-1.svg);
}

.card__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}

.card {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid var(--background_shade, #0b1919);
  background: var(--background, #1d2f30);
}
.card__image-block {
  background-color: #0b1919;
  padding: 30px 16px;
}
.card__img {
  width: 100%;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
}
.card__title {
  -ms-flex-item-align: start;
      align-self: start;
  color: var(--white, #fff);
  /* h3 */
  font-family: Cormorant;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.card__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  color: var(--grey, #899d9d);
  max-width: 223px;
  /* p1_regular */
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20.5px 59px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid var(--primary_green, #bae249);
  color: var(--primary_green, #bae249);
  margin-bottom: 24px;
}

.new-art {
  overflow: hidden;
}
.new-art__title {
  color: var(--white, #fff);
  font-family: Cormorant;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
}
.new-art__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 30px;
}
.new-art__image {
  max-width: 823px;
}
.new-art__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.new-art__text-block {
  max-width: 255px;
  width: 100%;
  background: var(--primary_green, #bae249);
  padding: 16px 16px 24px 16px;
}

.text-block__title {
  color: var(--background, #1d2f30);
  font-family: Cormorant;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  margin-bottom: 8px;
}
.text-block__text {
  color: var(--green_text, #506829);
  /* p1_regular */
  font-family: "Open Sans";
  line-height: 150%;
}
.text-block__link {
  color: var(--background_shade, #0b1919);
  font-family: "Open Sans";
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.text-block__link::after {
  content: "";
  display: inline-block;
  width: 45px;
  height: 15px;
  background-image: url(../img/svg/Arrow-black.svg);
  background-repeat: no-repeat;
}

.help {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(29, 47, 48, 0.7)), to(rgba(29, 47, 48, 0.7))), url(../img/111.png) center/cover no-repeat;
  background: linear-gradient(to top, rgba(29, 47, 48, 0.7), rgba(29, 47, 48, 0.7)), url(../img/111.png) center/cover no-repeat;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.help__title {
  color: var(--white, #fff);
  /* h2 */
  font-family: Cormorant;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 16px;
}
.help__text {
  max-width: 825px;
  color: var(--white, #fff);
  /* p1_regular */
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 150%; /* 24px */
  margin-bottom: 24px;
}
.form {
  width: 350px;
}
.form input {
  width: 100%;
  padding: 10px 16px;
  margin-bottom: 24px;
}
.form input:hover {
  background-color: #899D9D;
}
.form button {
  padding: 10px 25px;
  background-color: var(--primary_green);
  color: var(--background_shade, #0b1919);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

footer {
  background-color: var(--bg-col);
  padding-top: 15px;
  padding-bottom: 15px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.social svg {
  fill: #899d9d;
}
@media (hover: hover) {
  .social svg:hover img {
    fill: var(--primary_green);
  }
}